<?xml version="1.0" encoding="UTF-8" ?>
<configiration>
    <environments default="development">
        <environment id="development">
            <dataSource type="DBCP">
                <!--<property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>-->
                <property name="driver" value="org.postgresql.Driver"/>
                <property name="url" value="jdbc:postgresql://192.168.199.102:5432/mybatisdb"/>
                <property name="username" value="mybatis"/>
                <property name="password" value="1234567a"/>
            </dataSource>
        </environment>
    </environments>
</configiration>